<mat-grid-list cols="5" rowHeight="80px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-image></app-image>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-divider [vertical]="true"></mat-divider>
    <app-card-container></app-card-container>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-divider [vertical]="true"></mat-divider>
    <app-card-container></app-card-container>
    <mat-divider [vertical]="true"></mat-divider>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="5" rowHeight="25px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'gray'">
    <app-text></app-text>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'gray'">
    <app-text></app-text>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="5" rowHeight="520px" style="align-self: baseline">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="text-inside-grid">
      <app-menu></app-menu>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="text-inside-grid">
    
    <app-sponsorship-letters></app-sponsorship-letters>
  </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="5" rowHeight="25px">
  <mat-grid-tile [colspan]="5" [rowspan]="1" [style.background]="'gray'">
    <app-text></app-text>
  </mat-grid-tile>
</mat-grid-list>