<h4>Acciones</h4>
<mat-list dense>
    <mat-list-item> <button mat-button>Opción 1</button> </mat-list-item>
    <mat-list-item> <button mat-button>Opción 2</button> </mat-list-item>
    <mat-list-item> <button mat-button>Opción 3</button> </mat-list-item>
</mat-list>

<h4>Mi información</h4>
<mat-list dense>
    <mat-list-item> <button mat-button>Opción 1</button> </mat-list-item>
    <mat-list-item> <button mat-button>Opción 2</button> </mat-list-item>
    <mat-list-item> <button mat-button>Opción 3</button> </mat-list-item>
    <mat-list-item> <button mat-button>Opción 4</button> </mat-list-item>
    <mat-list-item> <button mat-button>Opción 5</button> </mat-list-item>
</mat-list>